body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:777px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:2635px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u643 {
  position:absolute;
  left:30px;
  top:21px;
  width:375px;
  height:2635px;
}
#u644 {
  position:absolute;
  left:2px;
  top:1310px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
}
#u645 {
  position:absolute;
  left:30px;
  top:21px;
  width:375px;
  height:45px;
}
#u646 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u647 {
  position:absolute;
  left:139px;
  top:97px;
  width:157px;
  height:57px;
}
#u648 {
  position:absolute;
  left:2px;
  top:20px;
  width:153px;
  word-wrap:break-word;
}
#u649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFCC00;
}
#u649 {
  position:absolute;
  left:31px;
  top:2629px;
  width:375px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFCC00;
}
#u650 {
  position:absolute;
  left:2px;
  top:71px;
  width:371px;
  word-wrap:break-word;
}
#u651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u651 {
  position:absolute;
  left:145px;
  top:215px;
  width:145px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:160px;
}
#u653 {
  position:absolute;
  left:68px;
  top:312px;
  width:300px;
  height:160px;
  text-align:center;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u656 {
  position:absolute;
  left:42px;
  top:492px;
  width:353px;
  height:194px;
}
#u657 {
  position:absolute;
  left:2px;
  top:49px;
  width:349px;
  word-wrap:break-word;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u658 {
  position:absolute;
  left:168px;
  top:696px;
  width:123px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u659 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:35px;
}
#u660 {
  position:absolute;
  left:206px;
  top:581px;
  width:32px;
  height:35px;
}
#u661 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u662 {
  position:absolute;
  left:49px;
  top:723px;
  width:346px;
  height:59px;
  font-size:12px;
}
#u663 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:182px;
}
#u664 {
  position:absolute;
  left:106px;
  top:791px;
  width:274px;
  height:182px;
}
#u665 {
  position:absolute;
  left:2px;
  top:83px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u666 {
  position:absolute;
  left:322px;
  top:755px;
  width:74px;
  height:74px;
  font-size:18px;
}
#u667 {
  position:absolute;
  left:2px;
  top:26px;
  width:70px;
  word-wrap:break-word;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:192px;
}
#u668 {
  position:absolute;
  left:54px;
  top:788px;
  width:42px;
  height:192px;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:304px;
}
#u670 {
  position:absolute;
  left:87px;
  top:1018px;
  width:211px;
  height:304px;
}
#u671 {
  position:absolute;
  left:2px;
  top:144px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u672 {
  position:absolute;
  left:36px;
  top:990px;
  width:80px;
  height:80px;
  font-size:18px;
}
#u673 {
  position:absolute;
  left:2px;
  top:29px;
  width:76px;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:224px;
}
#u674 {
  position:absolute;
  left:315px;
  top:1055px;
  width:53px;
  height:224px;
}
#u675 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:245px;
}
#u676 {
  position:absolute;
  left:46px;
  top:1473px;
  width:328px;
  height:245px;
}
#u677 {
  position:absolute;
  left:2px;
  top:114px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u678 {
  position:absolute;
  left:317px;
  top:1452px;
  width:73px;
  height:73px;
  font-size:18px;
}
#u679 {
  position:absolute;
  left:2px;
  top:26px;
  width:69px;
  word-wrap:break-word;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u680 {
  position:absolute;
  left:60px;
  top:1728px;
  width:300px;
  height:32px;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:97px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u682 {
  position:absolute;
  left:49px;
  top:1334px;
  width:346px;
  height:97px;
  font-size:16px;
}
#u683 {
  position:absolute;
  left:2px;
  top:10px;
  width:342px;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:247px;
}
#u684 {
  position:absolute;
  left:68px;
  top:1798px;
  width:324px;
  height:247px;
}
#u685 {
  position:absolute;
  left:2px;
  top:116px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u686 {
  position:absolute;
  left:35px;
  top:1770px;
  width:80px;
  height:80px;
  font-size:18px;
}
#u687 {
  position:absolute;
  left:2px;
  top:29px;
  width:76px;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:64px;
}
#u688 {
  position:absolute;
  left:60px;
  top:2055px;
  width:332px;
  height:64px;
}
#u689 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:97px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u690 {
  position:absolute;
  left:49px;
  top:2129px;
  width:346px;
  height:97px;
}
#u691 {
  position:absolute;
  left:2px;
  top:9px;
  width:342px;
  word-wrap:break-word;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:273px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u692 {
  position:absolute;
  left:35px;
  top:2277px;
  width:355px;
  height:273px;
}
#u693 {
  position:absolute;
  left:2px;
  top:128px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u694 {
  position:absolute;
  left:170px;
  top:2245px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:82px;
}
#u697 {
  position:absolute;
  left:49px;
  top:2302px;
  width:82px;
  height:82px;
}
#u698 {
  position:absolute;
  left:2px;
  top:33px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:38px;
}
#u699 {
  position:absolute;
  left:48px;
  top:2317px;
  width:83px;
  height:38px;
  font-size:16px;
  color:#FFFF00;
  text-align:center;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u701 {
  position:absolute;
  left:56px;
  top:2364px;
  width:69px;
  height:20px;
  font-size:12px;
}
#u702 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  word-wrap:break-word;
}
#u703 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:82px;
}
#u704 {
  position:absolute;
  left:159px;
  top:2301px;
  width:82px;
  height:82px;
  font-size:16px;
}
#u705 {
  position:absolute;
  left:2px;
  top:22px;
  width:78px;
  word-wrap:break-word;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u706 {
  position:absolute;
  left:167px;
  top:2366px;
  width:69px;
  height:20px;
  font-size:12px;
}
#u707 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  word-wrap:break-word;
}
#u708 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:82px;
}
#u709 {
  position:absolute;
  left:268px;
  top:2300px;
  width:82px;
  height:82px;
  font-size:16px;
}
#u710 {
  position:absolute;
  left:2px;
  top:22px;
  width:78px;
  word-wrap:break-word;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u711 {
  position:absolute;
  left:276px;
  top:2365px;
  width:69px;
  height:20px;
  font-size:12px;
}
#u712 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  word-wrap:break-word;
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:82px;
}
#u714 {
  position:absolute;
  left:164px;
  top:2420px;
  width:82px;
  height:82px;
  font-size:16px;
}
#u715 {
  position:absolute;
  left:2px;
  top:32px;
  width:78px;
  word-wrap:break-word;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u716 {
  position:absolute;
  left:172px;
  top:2485px;
  width:69px;
  height:20px;
  font-size:12px;
}
#u717 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  word-wrap:break-word;
}
#u718 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:82px;
}
#u719 {
  position:absolute;
  left:274px;
  top:2420px;
  width:82px;
  height:82px;
  font-size:16px;
}
#u720 {
  position:absolute;
  left:2px;
  top:22px;
  width:78px;
  word-wrap:break-word;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u721 {
  position:absolute;
  left:282px;
  top:2485px;
  width:69px;
  height:20px;
  font-size:12px;
}
#u722 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  word-wrap:break-word;
}
#u723 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:82px;
}
#u724 {
  position:absolute;
  left:54px;
  top:2420px;
  width:82px;
  height:82px;
  font-size:16px;
}
#u725 {
  position:absolute;
  left:2px;
  top:32px;
  width:78px;
  word-wrap:break-word;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u726 {
  position:absolute;
  left:62px;
  top:2485px;
  width:69px;
  height:20px;
  font-size:12px;
}
#u727 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  word-wrap:break-word;
}
#u728 {
  position:absolute;
  left:131px;
  top:2343px;
  width:0px;
  height:0px;
}
#u728_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:18px;
  height:8px;
}
#u728_seg1 {
  position:absolute;
  left:10px;
  top:-5px;
  width:8px;
  height:9px;
}
#u728_seg2 {
  position:absolute;
  left:10px;
  top:-5px;
  width:18px;
  height:8px;
}
#u728_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u728_seg4 {
  position:absolute;
  left:15px;
  top:-11px;
  width:20px;
  height:20px;
}
#u729 {
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730 {
  position:absolute;
  left:241px;
  top:2342px;
  width:0px;
  height:0px;
}
#u730_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:17px;
  height:8px;
}
#u730_seg1 {
  position:absolute;
  left:9px;
  top:-5px;
  width:8px;
  height:9px;
}
#u730_seg2 {
  position:absolute;
  left:9px;
  top:-5px;
  width:18px;
  height:8px;
}
#u730_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u730_seg4 {
  position:absolute;
  left:14px;
  top:-11px;
  width:20px;
  height:20px;
}
#u731 {
  position:absolute;
  left:-37px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732 {
  position:absolute;
  left:311px;
  top:2385px;
  width:0px;
  height:0px;
}
#u732_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u732_seg1 {
  position:absolute;
  left:-220px;
  top:21px;
  width:224px;
  height:8px;
}
#u732_seg2 {
  position:absolute;
  left:-220px;
  top:21px;
  width:8px;
  height:14px;
}
#u732_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u732_seg4 {
  position:absolute;
  left:-226px;
  top:22px;
  width:20px;
  height:20px;
}
#u733 {
  position:absolute;
  left:-150px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734 {
  position:absolute;
  left:136px;
  top:2461px;
  width:0px;
  height:0px;
}
#u734_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u734_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u734_seg2 {
  position:absolute;
  left:15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u735 {
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736 {
  position:absolute;
  left:246px;
  top:2461px;
  width:0px;
  height:0px;
}
#u736_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u736_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u736_seg2 {
  position:absolute;
  left:15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u737 {
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u738 {
  position:absolute;
  left:274px;
  top:2077px;
  width:106px;
  height:31px;
}
#u739 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:592px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u740 {
  position:absolute;
  left:477px;
  top:1910px;
  width:300px;
  height:592px;
}
#u741 {
  position:absolute;
  left:2px;
  top:288px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:20px;
}
#u742 {
  position:absolute;
  left:501px;
  top:2282px;
  width:253px;
  height:212px;
  font-size:14px;
  line-height:20px;
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:141px;
}
#u744 {
  position:absolute;
  left:493px;
  top:1979px;
  width:212px;
  height:141px;
}
#u745 {
  position:absolute;
  left:2px;
  top:62px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:142px;
}
#u746 {
  position:absolute;
  left:550px;
  top:2126px;
  width:212px;
  height:142px;
}
#u747 {
  position:absolute;
  left:2px;
  top:63px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
}
#u748 {
  position:absolute;
  left:543px;
  top:1932px;
  width:141px;
  height:24px;
  font-size:20px;
}
#u749 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:37px;
}
#u750 {
  position:absolute;
  left:740px;
  top:1910px;
  width:37px;
  height:36px;
}
#u751 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:506px;
}
#u752 {
  position:absolute;
  left:767px;
  top:1970px;
  width:3px;
  height:503px;
}
#u753 {
  position:absolute;
  left:2px;
  top:244px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u754 {
  position:absolute;
  left:380px;
  top:2093px;
  width:0px;
  height:0px;
}
#u754_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:97px;
  height:8px;
}
#u754_seg1 {
  position:absolute;
  left:89px;
  top:-4px;
  width:8px;
  height:7px;
}
#u754_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u754_seg3 {
  position:absolute;
  left:83px;
  top:-10px;
  width:20px;
  height:20px;
}
#u755 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756 {
  position:absolute;
  left:345px;
  top:2375px;
  width:0px;
  height:0px;
}
#u756_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:127px;
  height:8px;
}
#u756_seg1 {
  position:absolute;
  left:119px;
  top:-5px;
  width:8px;
  height:9px;
}
#u756_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u756_seg3 {
  position:absolute;
  left:113px;
  top:-12px;
  width:20px;
  height:20px;
}
#u757 {
  position:absolute;
  left:14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u758 {
  position:absolute;
  left:410px;
  top:2061px;
  width:57px;
  height:16px;
}
#u759 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u760 {
  position:absolute;
  left:410px;
  top:2347px;
  width:57px;
  height:16px;
}
#u761 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u762 {
  position:absolute;
  left:274px;
  top:1279px;
  width:106px;
  height:31px;
}
#u763 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
